<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mars Info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href ="../static/style.css">
  </head>

  <body>
    <div class="container">
      <div class="jumbotron text-center jumboImg ">
        <h1 class="display-4 text-white">Welcome to Mars</h1>
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Latest Data</a>
      </div>
      <!-- Featured image and news -->
      <div class="row" id="mars-news">
        <div class='col-md-12'>
          <div class='box'>
            <h2>Latest Mars News</h2>
            <h5>{{mars_data.news_title}}</h5>
            <p>{{mars_data.news_p}}</p>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-7 col-md-12'>
          <div class='box'>
            <h2>Featured Mars Image</h2>
            <img class='first-image'style='max-height:800px; max-width:600px;'src = {{mars_data.featured_image_url}}>
          </div>
        </div>
        
        <div class='col-lg-5 col-md-12'style='padding-top: 5%;'>
          <div class="card" style="width: 25rem;background-color: rgb(43, 226, 211);">
            <div class="card-body">
              <h5 class="card-title">Current Mars Weather</h5>
              <p class="card-text">{{mars_data.mars_weather}}</p>
            </div>
          </div>
          <h5 style='padding-top: 10%;'>Mars Facts</h5>
          <div class="table-responsive" style="overflow-x:auto; overflow-y:auto; max-height:500px; max-width: auto;">
            <table border="2" class="dataframe">
              <thead>
                <tr style="text-align: left;">
                  <th></th>
                  <th>Values</th>
                </tr>
                <tr>
                  <th>Parameters</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Equatorial Diameter:</th>
                  <td>6,792 km</td>
                </tr>
                <tr>
                  <th>Polar Diameter:</th>
                  <td>6,752 km</td>
                </tr>
                <tr>
                  <th>Mass:</th>
                  <td>6.39 x 10^23 kg (0.11 Earths)</td>
                </tr>
                <tr>
                  <th>Moons:</th>
                  <td>2 (Phobos &amp; Deimos)</td>
                </tr>
                <tr>
                  <th>Orbit Distance:</th>
                  <td>227,943,824 km (1.38 AU)</td>
                </tr>
                <tr>
                  <th>Orbit Period:</th>
                  <td>687 days (1.9 years)</td>
                </tr>
                <tr>
                  <th>Surface Temperature:</th>
                  <td>-87 to -5 C</td>
                </tr>
                <tr>
                  <th>First Record:</th>
                  <td>2nd millennium BC</td>
                </tr>
                <tr>
                  <th>Recorded By:</th>
                  <td>Egyptian astronomers</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      <div class='row'>
        <div class='col-md-12' style='padding-top: 10%;'>
          <h2 strong style="text-align: center;">Mars Hemispheres</h2>
          <hr>
        </div>
        <div class = 'col-lg-6'>
          <div class="card" style="width: 27rem;background-color: gray;">
            <img src="{{mars_data.hemisphere_image_urls[0]['image_url']}}" class="card-img-top" alt="Cerebrus Hemisphere">
            <div class="card-body">
              <h6 strong >{{mars_data.hemisphere_image_urls[0]['title']}}</h6>
            </div>
          </div>          
        </div>
        <div class = 'col-lg-6'>
          <div class="card" style="width: 27rem;background-color: gray;">
            <img src="{{mars_data.hemisphere_image_urls[1]['image_url']}}" class="card-img-top" alt="Schiaparelli Hemisphere">
            <div class="card-body">
              <h6 strong>{{mars_data.hemisphere_image_urls[1]['title']}}</h6>
            </div>
          </div>          
        </div>        
      </div>
      <h1></h1>
      <div class = 'row'>
        <div class = 'col-lg-6'>
          <div class="card" style="width: 27rem;background-color: gray;">
            <img src="{{mars_data.hemisphere_image_urls[2]['image_url']}}" class="card-img-top" alt="styris Major Hemishpere">
            <div class="card-body">
              <h6 strong>{{mars_data.hemisphere_image_urls[2]['title']}}</h6>
            </div>
          </div>
        </div>
        <div class = 'col-lg-6'>
          <div class="card" style="width: 27rem;background-color: gray;">
            <img src="{{mars_data.hemisphere_image_urls[3]['image_url']}}" class="card-img-top" alt="Valles Marineris Hemisphere">
            <div class="card-body">
              <h6 strong>{{mars_data.hemisphere_image_urls[3]['title']}}</h6>
            </div>
          </div>
        </div>               
      </div>
      <h1></h1> 
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
  </body>

</html>
